@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E4E3DB;
  --foreground: #1D1D1B;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}